/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.docker/jenkins/jenkins_home/*
!.docker/jenkins/jenkins_home/.keep
/.docker/mariadb/data/*
!.docker/mariadb/data/.keep